<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=About, initial-scale=1.0">
    <title>About</title>
    <style>
        p { display: inline-flex;
            padding: 5px;
            background-color: green;
            color: white
            
        }


    </style>
</head>
<body>
    <header>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/items"> Items </a></li>
            <li><a href="/about"> About</a></li>
        </ul>
    
     </header>

    <div>
        <p>
            Name: {{author.name}} <br>
            middle_name: {{author.mid_name}} <br>
            last_name: {{author.last_name}} <br>
            Phone: {{author.phone}} <br>
            Email: {{author.email}} <br>

        </p>


    </div>
    
</body>
</html>