{% extends "base.html" %}

{% load static %}

{% block title %}
    Homepage
{% endblock title %}

{% block content %}

    {{block.super}}
    <br>
    <img width="50px" src="{% static "images/dj.svg"  %}" alt="My image">
    <h1>Приветствую!</h1>
    
    <div>
        
            
        <span style='color: blue'>  My name is: <i>{{name}}</i> </span><br>
            
        Email: <i>{{email}}</i> 
   
     <br>
    Это главная страница сайта<br>
    <i>Сайт сейчас в разработке...</i>


{% endblock content %}